<h2>Currents</h2>
<p>View currents or <a href="edit.html">add</a> a current.</p>
<% if (locals.flash) { %>
    <p><%= flash %></p>
<% } %>
<ul>
    <li class="header">
        <span class="field">Id</span>
        <span class="field">Placa</span>
        <span class="field">Fechaentrada</span>
        <span class="field">Payment</span>
        <span class="field">Payed</span>
        <span class="field">Idparqueadero</span>
        <span class="field">Actions</span>
    </li>
    <% for(var i=0; i<currents.length; i++) {%>
            <li class="row">
                <span class="field"><%= currents[i]['id'] %></span>
                <span class="field"><%= currents[i]['placa'] %></span>
                <span class="field"><%= currents[i]['fechaEntrada'] %></span>
                <span class="field"><%= currents[i]['payment'] %></span>
                <span class="field"><%= currents[i]['payed'] %></span>
                <span class="field"><%= currents[i]['idParqueadero'] %></span>
                <span class="field">
                    <a href="<%= currents[i]._id %>" >currents</a>
                </span>
            </li>
    <% } %>
</ul>
